header {
  display: flex;
  justify-content: center;
  height: calc(100vh - 70px);
  align-items: center;
  background-image: url(../../img/computer-code-editor.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;

  #who-am-i {
    text-align: center;
    padding-top: 50px;
    background-color: black;
    padding: 2rem;
    border-radius: 20px;
    margin: 4rem;
  }
}
